<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to 192's Twitter!</title>
    <link rel="stylesheet" href="{{user.theme}}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Welcome to the hashtag page for #{{hashtag.name}}
      </h1>
      </br>
      <p class="subtitle">
            Return <a href="home">home</a>
        </p>
      <h2 class="subtitle">
          Tweets using #{{hashtag.name}}
      </br>
      </h2>
      
      <p class="subtitle">
          {% for tweet in tweets_used %}
          {% if tweet.author not in user.blocked_users.all %}
          <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <img src="{{tweet.author.profile_pic}}" alt="Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        
                        <strong>{{tweet.author}} @ </strong><small>{{tweet.created_at}}</small>
                      </br>
                        {{tweet.content}}
                      </p>
                      
                    </div>
                    <nav class="level is-mobile">
                      <div class="level-left">
                            <p>
                                <a href="like_tweet?id={{tweet.id}}"> Like ({{tweet.likes}})</a>
                            </p>
                      </div>
                    </nav>
                  </div>
                </article>
              </div>
          
      </br>
            {% endif %}
          {% endfor %}
      </p>
    </div>
  </section>
  </body>
</html>