<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to 192's Twitter!</title>
    <link rel="stylesheet" href="{{user.theme}}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Twitter, v1.9.2
      </h1>
      <h2>You are currently logged in as <strong>{{user.username}}</strong>. <a href="/profile?id={{user.id}}"> View Profile</a>
      </br>
    </h2>
      <p class="subtitle">
          All done? <a href="/logout"> Logout</a> </br>
          {% if not user.is_dark %}
          <a href="/toggle_dark_mode">Dark Mode</a>
          {% endif %}
          {% if user.is_dark %}
          <a href="/toggle_dark_mode">Light Mode</a>
          {% endif %}
      </p>
      <p class="subtitle">
          Something on your mind? Tell us!
          <form method="POST" action="/home">
                {% csrf_token %}
                <div>
                <input name="content" class="input is-primary" type="text" placeholder="Your next great thought">
                </div>
                <div>
                </br>
                <input type="submit" class="button is-primary"/>
            </div>
        </br>
            </form>
      </p>
      <div class="columns">
        <div class="column is-three-quarter">
          <h1 class="title">
            Recent Tweets
        </br>
        </h1>
        <p class="subtitle">
            {% for tweet in tweets %}
            {% if tweet.author not in user.blocked_users.all %}
            <div class="box">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src={{tweet.author.profile_pic}} alt="Image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong> <a href="/profile?id={{tweet.author.id}}"> {{tweet.author}} </a> @ </strong><small>{{tweet.created_at}}</small>
                        </br>
                          {{tweet.content}}
                      </br>
                      {% if tweet.hashtags.count != 0 %}
                          Hashtags used : {% for hashtag in tweet.hashtags.all %} #<a href="hashtag?id={{hashtag.id}}">{{hashtag.name}}</a>, {% endfor %}
                      {% endif %}
                  </br>
                         
                        </p>

                        {% if tweet.replies.all.count != 0 %}
                        <p>
                          <div class="box">
                          <strong>Replies :</strong> </br>
                          {% for reply in tweet.replies.all %}
                          <div class="box">
                            <strong> <a href="/profile?id={{reply.author.id}}"> {{reply.author}}</a></strong> @ {{reply.created_at}}</br>
                            {{reply.content}}
                          </br>
                          <p>
                              <a href="like_reply?id={{reply.id}}"> Like ({{reply.likes}})</a>
                          </p>
                            
                          </div>
                          {% endfor %}
                          </div>
                        </p>
                        {% endif %}
                        
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                              <p>
                                  <a href="like_tweet?id={{tweet.id}}"> Like ({{tweet.likes}})</a>
                              </p>
                        </div>
                      </nav>
                      <form method="POST" action="/reply_to_tweet">
                        {% csrf_token %}
                        <div>
                        <input name="content" class="input is-primary" type="text" placeholder="Your next great reply">
                        <input name="tweet_id" type ="hidden" value="{{ tweet.id }}">
                        </div>
                        <div>
                        </br>
                        <input type="submit" class="button is-primary" value="post your reply!"/>
                    </div>
                </br>
                    </form>
                    </div>
                  </article>
                </div>           
        </br>
        {%endif%}
            {% endfor %}
        </p>
        </div>
        <div class="column">
          
          <h1 class="title">
            Recent Hashtags
          </h1>
            <div class="box">
              <p>
            <div class="media-content">
              <div class="content">
                    {% for hashtag in hashtags %}
            
                   <a href="/hashtag?id={{hashtag.id}}"> #{{hashtag.name}} </a>
                </br>
                    {% endfor %}
                </br>
                </p>
              </div>
              </div>
        </br>
        </div>
        
    </div>
    
  </section>
  <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Site built by Michael Hackett with the <strong>Django</strong> framework and <strong>Bulma</strong> CSS framework.
        </br>
        All code can be accessed upon request.
      </br>
        Thanks go out to the package Bulmaswitch by Github user <strong>Jenil</strong> for custom themes.
        </p>
      </div>
    </footer>
  </body>
</html>