<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to 192's Twitter!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Twitter, v1.9.2
      </h1>
      <h2>You are currently logged in as <strong>{{user.username}}</strong>. <a href="/profile?id={{user.id}}"> View Profile</a>
      </br>
    </h2>
      <p class="subtitle">
          All done? <a href="/logout"> Logout</a>
      </p>
      <p class="subtitle">
          Something on your mind? Tell us!
          <form method="POST" action="/home">
                {% csrf_token %}
                <div>
                <input name="content" class="input is-primary" type="text" placeholder="Your next great thought">
                </div>
                <div>
                </br>
                <input type="submit" class="button is-primary"/>
            </div>
        </br>
            </form>
      </p>
      <div class="columns">
        <div class="column">
          <h1 class="title">
            Recent Tweets
        </br>
        </h1>
        <p class="subtitle">
            {% for tweet in tweets %}
            <div class="box">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src={{tweet.author.profile_pic}} alt="Image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong> <a href="/profile?id={{tweet.author.id}}"> {{tweet.author}} </a> @ </strong><small>{{tweet.created_at}}</small>
                        </br>
                          {{tweet.content}}
                      </br>
                          Hashtags used : {% for hashtag in tweet.hashtags.all %} #<a href="hashtag?id={{hashtag.id}}">{{hashtag.name}}</a>, {% endfor %}
                  </br>
                         
                        </p>
                        
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                              <p>
                                  <a href="like_tweet?id={{tweet.id}}"> Like ({{tweet.likes}})</a>
                              </p>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>           
        </br>
            {% endfor %}
        </p>
        </div>
        <div class="column">
          
          <h1 class="title">
            Recent Hashtags
          </h1>
            <div class="box">
              <p>
            <div class="media-content">
              <div class="content">
                    {% for hashtag in hashtags %}
            
                   <a href="/hashtag?id={{hashtag.id}}"> #{{hashtag.name}} </a>
                </br>
                    {% endfor %}
                </br>
                </p>
              </div>
              </div>
        </br>
        </div>
        
    </div>
    
  </section>
  <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Site built by Michael Hackett with the <strong>Django</strong> framework and <strong>Bulma</strong> CSS framework.
        </br>
        All code can be accessed upon request.
      </br>
        Trademark : Hackett Productions @2019
        </p>
      </div>
    </footer>
  </body>
</html>